.widget_timer {
    color: white;
    font-weight: 400;
    font-size: 48px;
}

.widget_date {
    margin-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.widget_weather {
    margin-top: 8px;
}

.widget_weather_temp {
    color: white;
    margin-left: 10px;
}

.widget_weather_humidity {
    color: white;
    margin-left: 10px;
    margin-top: 4px;
}