.App {
  height: 100vh;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 3fr 12fr;
  background-color: #020406;
  gap: 16px;
  font-family: "Inter";
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #1c1e1f;
  row-gap: 24px;
  border-radius: 24px;
  padding: 16px 0;
  align-items: center;
}
.widgets {
  padding: 24px;
  background-color: #1c1e1f;
  border-radius: 24px;
}

.home {
  background-color: white;
  border-radius: 24px;
  padding: 32px;
}

.devices_section {
  margin-top: 16px;
}

.devices_section_heading {
  font-size: 30px;
  font-weight: 600;
}

.device_container {
  /* border: 1px solid red; */
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu-bar {
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-color: #000000;
  column-gap: 1rem;
  
}

.menubar_item_container{
  display: flex;
  align-items: center;
  gap: 16px;
}

.settings {
  background-color: white;
  border-radius: 24px;
  padding: 32px;
}

.settings .accounts_title{
  font-size: 24px;
  margin-top: 8px;
}